<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @tip.subject%></h1>
    <p>
      Address: <%= @tip.address %>
	</p>
    <p>
      Tip: <%= @tip.tip %>
    </p>
    <% if @tip.contact %>
      <h2>The tip submitter would like to be contacted</h2>
      <p>
        <dl>
			<% unless @tip.contact_name.blank? -%>
				<dt>Contact Name</dt><dd><%= @tip.contact_name %></dd>
			<% end -%>
			<% unless @tip.contact_name.blank? -%>
				<dt>Contact Phone</dt><dd><%= @tip.contact_phone %></dd>
			<% end -%>
			<% unless @tip.contact_name.blank? -%>
				<dt>Contact Email</dt><dd><%= @tip.contact_email %></dd>
			<% end -%>
        </dl>
      </p>
    <% end %>
  </body>
</html>