<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :subject %></div>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <div><%= f.label :address %></div>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <div><%= f.label :tip %></div>
    <%= f.text_area :tip %>
  </div>
  <div class="field">
    <div><%= f.label :contact_me? %></div>
    <%= f.check_box :contact, :onchange=>"document.getElementById('contact_info_div').style.visibility=(this.checked ? 'visible' : 'hidden')" %>
  </div>
  <div class="field" id="contact_info_div" style="visibility: <%=@tip.contact ? 'visibile' : 'hidden'%>;">
    <div><%= f.label :contact_name %></div>
    <%= f.text_field :contact_name %>
    <div><%= f.label :contact_email %></div>
    <%= f.text_field :contact_email %>
    <div><%= f.label :contact_phone %></div>
    <%= f.text_field :contact_phone %>
  </div>  
  <div class="actions">
    <%= f.submit "Submit Tip" %>
  </div>
<% end %>
